
TAG=1.1.1

### SERVICES ##################################
AUTHOR=zhaopan
NGINX_NAME=nginx
REDIS_NAME=redis
MYSQL_NAME=mysql
FRPS_NAME=frps
FRPC_NAME=frpc
WP_NAME=wp
WPCLI_NAME=wpcli
GOAPP_NAME=goapp
MONGO_NAME=mongo
GOGS_NAME=gogs

### NGINX #####################################
NGINX_VERSION=1.14
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_ROOT_PATH=../www
NGINX_LOG_PATH=./logs/nginx/

### MYSQL 5.7.40 | 8.0 ########################
MYSQL_VERSION=5.7.40
MYSQL_DATA_PATH=./data/mysql
MYSQL_CONF_PATH=./mysql/docker.cnf
MYSQL_PORT=13306
MYSQL_TIMEZONE=Asia/Shanghai
MYSQL_ROOT_PASSWORD=123456

### REDIS #####################################
REDIS_VERSION=5.0
REDIS_DATA_PATH=./data/redis5
REDIS_CONF_PATH=./redis/redis5.conf
REDIS_PORT=16379

### ElasticSearch 7.17 ########################
ELASTICSEARCH_PATH=./data/elasticsearch/

### Kibana 7.17 ########################
KIBANA_PORT=5601
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=123456

### frpd 0.61.2 ########################
FRP_VERSION=0.61.2
# frps 架构: amd64|arm32v6|arm32v7|arm64v8|i386
FRPS_ARCH=amd64
FRPS_INI_PATH=./frp/frps/frps.toml
FRPS_LOG_PATH=./logs/frps/frps.log
# frpc 架构: amd64|arm32v6|arm32v7|arm64v8|i386
FRPC_ARCH=amd64
FRPC_INI_PATH=./frp/frpc/frpc.toml
FRPC_LOG_PATH=./logs/frpc/frpc.log

# WordPress
WP_VERSION=latest
WP_ROOT_PATH=../wordpress
WP_CONF_PATH=./wordpress/config/wp_php.ini
WP_PORT=8081
WP_DB_NAME=wordpress
WP_DB_ROOT_PASSWORD=123456

### GO 1.20 ########################
GO_VERSION=1.20
GO_APPPATH=../goapp
GO_WEB_PORT=8000

### mongodb ########################
MONGO_VERSION=3.4
MONGO_PORT=27017
MONGO_PATH=./mongo/data/db
MONGO_USERNAME=root
MONGO_PASSWORD=123456
MONGO_CONF_PATH=./mongo/mongod.conf
MONGO_TIMEZONE=Asia/Shanghai

### gogs ########################
GOGS_VERSION=0.13.0
GOGS_SSH_PORT=10022
GOGS_WEB_PORT=10880
GOGS_DATA_PATH=./data/gogs/

### IPV4_ADDRESS ##############################
SUBNET=172.18.0.0/16
NGINX_IP=172.18.0.2
MYSQL_IP=172.18.0.3
REDIS_IP=172.18.0.4
ELASTICSEARCH_IP=172.18.0.5
KIBANA_IP=172.18.0.6
ES01_IP=172.18.0.7
ES02_IP=172.18.0.8
ES03_IP=172.18.0.9
PHP56_IP=172.18.0.56
PHP71_IP=172.18.0.71
PHP72_IP=172.18.0.72
PHP73_IP=172.18.0.73
PHP74_IP=172.18.0.74
PHP80_IP=172.18.0.80
PHP81_IP=172.18.0.81
WP_IP=172.18.0.91
WP_CLI_IP=172.18.0.92
FRPS_IP=172.18.0.100
FRPC_IP=172.18.0.100
GOAPP_IP=172.18.0.110
MONGO_IP=172.18.0.120
GOGS_IP=172.18.0.121
